$mainGrey: #58595a;
$lightGrey: #878788;
$mainGold: #f9d423;
$mainGreen: #6e9172;
$lightGreen: #31bd31;
$fancyGreen: #6A9113;
$white: #ffffff;
$black: #000000;
$mainBlue: #34516d;
$mainOrange: #f51c1c;
$bodyBackground: linear-gradient(to right, #fae59f, #ffefba);

$boxShadow: rgba(0, 0, 0, .4) 0px 54px 55px, rgba(0, 0, 0, .2) 0px -12px 30px, rgba(0, 0, 0, .2) 0px 4px 6px, rgba(0, 0, 0, .2) 0px 12px 13px, rgba(0, 0, 0, .2) 0px -3px 5px;
$boxShadow2: .25rem -.25rem .25rem black;
$textShadow: .125rem .125rem .125rem black;
$radius: 5px;

